.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*:not(button):not(input[type="submit"]):not([type="text"]) {
  color: white;
}

#searchBarForm{
  display: flex;
  flex-direction: column;
  width: 25%;
}

#container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#container>*{
  flex-basis: 40%;
}

#signIn{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signIn>a{
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  display: inline;
  width: 30%;
}
#signIn>a>p{
  color: black;
}
#signIn img{
  width: 20%;
}

#searchBarInputText{
  border: none;
  border-bottom: 2px solid red;
  margin: .2rem;
}
label{
  font-weight: bold;
}
